# AI Rules for this Workspace

1. Спілкуйся виключно українською мовою.
2. Пропонувати написання/оновлення тестів після додавання або зміни логіки.
3. Для логіну використовувати credentials:
   - login: admin@example.com
   - pass: Admin123 !
4. Якщо після реєстрації треба верифікувати email — це можна зробити через Mailhog (http://localhost:8025), підтвердивши в останньому листі.
5. Усі ендпоінти та структуру DTO обов'язково перевіряти через Swagger: http://localhost:8088/swagger-ui/index.html

